.hero {
  background-image: url("./images/desktop/image-hero.jpg");
  padding: 3rem;
}

.header,
.navbarRight {
  display: flex;
  color: white;
}

.heroBtn,
.navbarRight {
  margin-left: auto;
}

h1 {
  font-weight: 100;
  font-size: 3rem;
  padding-left: 2rem;
}

h2 {
  font-weight: 100;
  font-size: 2.3rem;
}

h3 {
  font-weight: 100;
  font-size: 2rem;
  padding-left: 2rem;
}

h4 {
  font-size: 2rem;
  margin-block-start: 0rem;
  margin-block-end: 0rem;
}

h5,
.icons {
  font-size: 1.2rem;
  padding-right: 1rem;
  margin-block-start: 1em;
}

.box {
  width: 20rem;
  height: 20rem;
  padding-left: 5rem;
  background-color: white;
  margin-bottom: -25rem;
  margin-left: -10rem;
}

.leaderPhoto {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem;
}

.block {
  border-style: solid;
  border-color: white;
  color: white;
  width: 25rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.ourCreations {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.btn {
  background-color: black;
  color: white;
  border: none;
  height: 2rem;
  padding: 0rem 2rem;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 2rem;
}

.p1 {
  background-image: url(./images/desktop/image-deep-earth.jpg);
}

.p2 {
  background-image: url(./images/desktop/image-night-arcade.jpg);
}

.p3 {
  background-image: url(./images/desktop/image-soccer-team.jpg);
}

.p4 {
  background-image: url(./images/desktop/image-grid.jpg);
}

.p5 {
  background-image: url(./images/desktop/image-from-above.jpg);
}

.p6 {
  background-image: url(./images/desktop/image-pocket-borealis.jpg);
}

.p7 {
  background-image: url(./images/desktop/image-curiosity.jpg);
}

.p8 {
  background-image: url(./images/desktop/image-fisheye.jpg);
}

.footerMenu {
  display: flex;
  color: white;
}

footer {
  background-color: black;
}

.logo {
  color: white;
}

.photo {
  height: 350px;
  color: white;
  background-repeat: no-repeat;
  position: relative;
}

.bml {
  position: absolute;
  bottom: 0;
  left: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px 20px;
}

.grid {
  padding: 5rem;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 5rem;
}

p {
  color: white;
}

.founded {
  color: black;
}
