.hero {
  background-image: url("./images/desktop/image-hero.jpg");
}

.header,
.navbarRight {
  display: flex;
}

.heroBtn,
.navbarRight {
  margin-left: auto;
}

h3 {
  padding: 0.5rem;
}

.block {
  border-style: solid;
  border-color: white;
  color: white;
  width: 25rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.box {
  width: 20rem;
  height: 20rem;
  padding: 3rem;
}

.p1 {
  background-image: url(./images/desktop/image-deep-earth.jpg);
}

.p2 {
  background-image: url(./images/desktop/image-night-arcade.jpg);
}

.p3 {
  background-image: url(./images/desktop/image-soccer-team.jpg);
}

.p4 {
  background-image: url(./images/desktop/image-grid.jpg);
}

.p5 {
  background-image: url(./images/desktop/image-from-above.jpg);
}

.p6 {
  background-image: url(./images/desktop/image-pocket-borealis.jpg);
}

.p7 {
  background-image: url(./images/desktop/image-curiosity.jpg);
}

.p8 {
  background-image: url(./images/desktop/image-fisheye.jpg);
}

.footerMenu {
  display: flex;
  color: white;
}

footer {
  background-color: black;
}

.logo {
  color: white;
}

.photo {
  height: 350px;
  color: white;
  background-repeat: no-repeat;
  position: relative;
}

.bml {
  position: absolute;
  bottom: 0;
  left: 0;
}

.h1 {
  position: absolute;
  bottom: 0;
  left: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
}

.flex {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.btn {
  background-color: black;
  color: white;
  border: none;
  height: 2rem;
  padding: 0rem 2rem;
  position: absolute;
  bottom: 0;
  right: 0;
}

footer {
  display: flex;
  justify-content: space-between;
}

p {
  color: white;
}

.founded {
  color: black;
}
