.hero {
  background-image: url("./images/desktop/image-hero.jpg");
}

.header,
.navbarRight {
  display: flex;
}

.heroBtn,
.navbarRight {
  margin-left: auto;
}

h3 {
  padding: 0.5rem;
}

.block {
  border-style: solid;
  border-color: white;
  color: white;
  width: 25rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.box {
  width: 20rem;
  height: 20rem;
  padding: 3rem;
}

.p1 {
  background-image: url(./images/desktop/image-deep-earth.jpg);
}
